body{
  height: 100%;
}
#question{
  font-size: 30px;
  background-color: #CCC;
  float: left;
}

#phase1{
  height: 60%;
}

#phase2{
  height: 40%;
}

.optionsButton{
  background-color:#0F0;
  height: 100%;
  width: 90%;
  margin:0 5% 0 5%;
}
.optionsButton:first-child{
  background-color: #9F0;
}
.optionsButton:last-child{
  background-color: #9F0;
}

#consequence{
  background-color:#999;
  height: 40%;
  float: left;
}

#decisionTree{
  background-color: #CCC;
  height:50%;
  float: left;
}



.row{
  margin: 1%
}
